html {

}

body {
  margin-top: 75px !important;
  margin-left: 200px !important;
  background-color: #090108 !important;
  font-family: "c64";
}

progress {
  width: 0%;
  height: 5px;
  background: #89dbc8;
  border: none;
}

.h5, h5 {
  font-size: 0.8em !important;
}

.song_title {
  font-size: 1.2em !important;
}

.btn-vote {
  margin-top: 20px;
  margin-right: 10px;
  height: 60px;
}

.currently_playing {
  color: #a3d663;
  padding-bottom: 23px;
}

.media-body {
  font-size: 1.1em !important;
  color: #cfe6f6;
}

.subtitle {
  font-size: 0.8em !important;
}

.queue_subtitle {
  font-size: 0.7em;
}

.currently_playing_photo {
  width: 250px !important;
  height: 150px !important;
}

.queue_photo {
  width: 150px !important;
  height: 100px !important;
  padding-top: 10px !important;
}

/* @@font-face {
  font-family: c64;
  src: "../static/fonts/c64/Commodore Rounded v1.2.ttf";
} */
