<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  <!-- BOOTSTRAP REQUIREMENTS -->
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous"
  >
<!-- Latest compiled and minified JavaScript -->
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous">
  </script>

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/user.js') }}"></script>

  <style>
    @font-face{
      font-family: c64;
      src: url({{ url_for('static',filename='fonts/c64/Commodore Rounded v1.2.ttf') }}) ;
    }
    body { font-family: "c64"; }
  </style>


</head>
  <body>
    <div class="container">
      <h5 id="usid_info"></h5>
      <div class="row">
        <div class="col col-lg-4 col-md-6 col-sm-12">
          <ul class="ul-media">
          </ul>
        </div>
        <div class="col col-lg-8 col-md-6 col-sm-12">
              <div class="input-group">
                <input type="text" class="form-control" id="search_term" placeholder="Search for song">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" id="btn_search">Search</button>
                </span>
              </div>
              <div class="list-group" id="search_list">

              </div>
          </div>
      </div>
    </div>
  </body>
</html>
