<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- BOOTSTRAP REQUIREMENTS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/player.js') }}"></script>

    <!-- Need to explicit tell jinja where to get the font -->
    <style>
      @font-face{
        font-family: c64;
        src: url({{ url_for('static',filename='fonts/c64/Commodore Rounded v1.2.ttf') }}) ;
      }
      body { font-family: "c64"; }
    </style>

  </head>

  <body>
    <audio class="" id="audio"></audio>
    <div class="container">
      <div class="row currently_playing">
        <div class="media">
          <img class="mr-3 currently_playing_photo" src="" alt="">
          <div class="media-body">
            <h5 class="mt-0 song_title">No song currenly playing</h5>
            <p class="subtitle">--:--</p>
            <progress id="progress_bar" value="0" max="100" value="0"></progress>
          </div>
        </div>
    </div>
    <hr>
    <div class="row songlist">
      <ul class="ul-media">
      </ul>
    </div>
  </body>

</html>
